body {
  background-color: #F6F7F9;
}

.rooms {
  margin-bottom: 50px;
}

.rooms-per-hotel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin: -27px; */
}

.rooms-per-hotel.column {
  flex-direction: column;
}

.rooms_header_message {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 25px;
  color: #000000;
}

.hotel_name {
  width: 100%;
  margin-left: 27px;
  margin-bottom: 0px;
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.room-card {
  display: flex;
  position: relative;
  /* margin: 29px 27px; */
  margin: 29px 0px;
  width: 592px;
  box-shadow: 0px 3px 15px #00000029;
}

.room-card:nth-child(even) {
  margin-left: 13px;
}

.room-card.column {
  flex-direction: column;
}

.rooms-per-hotel.column .room-card {
  width: 100%;
}

.room-card .MaxPartialPaymentParcel {
  position: absolute;
  bottom: 0px;
  left: 0px;
  top: unset;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  padding: 5px 9.5px 6.36px 8px;
  background-color: #000000;
}

.room-card  .MaxPartialPaymentParcel span {
  font-weight: bold;
}

.room-card .room-card-img {
  width: 174px;
  height: 325px;
  object-fit: cover;
}

.room-card.column .room-card-img {
  width: 100%;
}

.room-card-body {
  background-color: #ffffff;
  padding: 18.8px 27.7px 21.83px 23.11px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.room-card.column .room-card-body {
  height: 248px;
}

.room-card-body-top {
  padding-bottom: 17.48px;
  border-bottom: 1px solid #E6E6E6;
}

.room-card-body-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.rooms .room-card-body-bottom.empty {
  justify-content: flex-end;
}

.room-card-title {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  line-height: 24px;
  margin-bottom: 11.5px;
  display: block;
}

.room-card-title:hover {
  text-decoration: underline;
}

.room-card-hotel-name {
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 10px;
  color: #000000;
}

.room-card-hotel-address {
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.room-card-text-desktop {
  margin-top: 17.48px;
  margin-bottom: 17.48px;
  font-size: 14px;
  line-height: 20px;
  color: #2C2F33;
}

.room-card-text-mobile {
  display: none;
}


.price-and-button-holder {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.price_holder {
  display: flex;
  flex-direction: column;
}

.price-text {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 5px;
}

.price {
  color: #BEAD8E;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
}

.price .currency_symbol_price, .price .decimal_value_price {
  font-size: 20px;
}

.room-button {
  background-color: #000000;
  padding: 11px 33px;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
}

.room-button:hover {
  color: #191919;
  background-color: #fff;
}

.room-card-best-price {
  position: absolute;
  top: 13px;
  left: -13px;
}


.ribbon {
  font-size: 20px;
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 0px;
}
.text {
  display: inline-block;
  padding: 10px 26px;
  background: #82B789;
  position: relative;
  font-size: 16px;
  color: #fff;
  font-weight: 500;  
  box-shadow: 0px 0px 20px #0000004F;  
}

.ribbon:before,
.text:before,
.text:after
{
  content: "";
  position: absolute;
}
.ribbon:before {
  top: 0.3em;
  left: 0.2em;
  width: 100%;
  height: 100%;
  border: none;
  background: #ebeced;
  z-index: -2;
}
.text:before {
  bottom: 100%;
  left: 0;
  border-top: 7px solid #537E59;
  border-left: 13px solid transparent;
  bottom: -7px;
}
.text:after {
  top: 100%;
  right: 0;
  border-width: 0.5em 2em 0 0;
  border-color: #fc9544 transparent transparent transparent;
}

.search-and-order {
  text-align: center;
  padding: 42px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-input {
  padding: 10px 30px 10px 10px;
  width: 500px;
  height: 40px;
  background-image: url(../icons/icon_Search.svg);
  background-repeat: no-repeat;
  background-position-x: calc(100% - 7px);
  background-position-y: center;
  border-width: 1px;
  min-width: unset;
  background-origin: unset;
  transition: 0.3s;
}

#search-input:hover {
  outline: 1px solid #000;
}

#search-input:focus {
  box-shadow: none !important;
  outline: 1px solid #000;
}

#search-input:active {
  box-shadow: none !important;
  outline: 1px solid #000;
}

#ordenar {
  display: none;
}

.obpress-chain-results-button {
  min-width: 138px;
  height: 40px;
  border: 1px solid #000000;
  background-color: transparent;
  font-size: 13px;
  font-weight: bold;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.3s;
  background-image: unset;
  padding: 0px;
  top: unset;
}

.obpress-chain-results-button svg {
  margin-right: 18px;
}

.obpress-chain-results-button:hover { 
  color: #fff;
  background-color: #191919;
}

.obpress-chain-results-button:hover line {
  stroke: #fff;
}

.obpress-chain-results-button:hover path {
  fill: #fff;
}

#ordenar .modal-dialog {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  width: 308px;
  height: 263px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 0px;
}

#ordenar .modal-content {
  padding: 18px 34px;
}

#ordenar .modal-content, #filters .modal-content {
  height: 100%;
  border-radius: 0px;
  display: block;
}

#ordenar .title {
  margin-bottom: 50px;
}

#ordenar .title {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}

.close-modal {
  background-image: url(../icons/close.svg);
  position: absolute;
  height: 17px;
  width: 17px;
  right: 29px;
  top: 22px;
  background-repeat: no-repeat;
  cursor: pointer;
}

#ordenar .modal-bottom {
  box-shadow: 0px -3px 6px #00000029;
  height: 66px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 31px;
}


#ordenar .modal-bottom span {
  color: #4B8CF4;
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
}

#ordenar .modal-bottom div {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 126px;
  height: 40px;
  text-align: center;
  color: #fff;
  background-color: #000;
  cursor: pointer;
}

#ordenar label {
  display: inline-block;
  font-size: 14px;
  color: #2C2F33;
  cursor: pointer;
}

#ordenar label > span {
  height: 16px;
  width: 16px;
  display: inline-block;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 3px;
  margin-right: 7px;
  position: relative;
  top: 4px;
  color: transparent;
}

#ordenar label span span {
  position: relative;
  top: -3px;
}


#ordenar .checked > span {
  background-color: #BEAD8E;
  border-color: #BEAD8E;
  color: #fff;
}


.no-rooms {
  display: none;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.no-results-img {
  height: 128px;
  fill: #C2CBDA;
  width: 128px;
}

.no-results-text {
  margin-top: 30px;
  margin-bottom: 0px;
  color: #8C99AF;
  font-size: 16px;
}

/* MOBILE */
@media(max-width: 1279px) {

  .rooms .rooms_header_message {
    text-align: center!important;
    margin: 23px 0px 22px 0px;
    padding: 0px 20px;
    font-size: 20px;
    line-height: 24px;
  }

  .rooms-per-hotel {
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0 26px;
  }

  .rooms .hotel_name {
    width: unset;
    margin-top: 0px;
    margin-bottom: 22px
  }

  .rooms .room-card {
    flex-direction: column;
    max-width: 323px;
    width: 100%;
    margin: 0px 0px 28px 0px;
  }

  .rooms .room-card-best-price {
    width: 77px;
    top: unset;
  }
  
  .rooms .ribbon .text {
    padding: 3px 6px;
    font-size: 10px;
    line-height: 13px;
  }

  .rooms .room-card .MaxPartialPaymentParcel {
    font-size: 8px;
    line-height: 10px;
    bottom: unset;
    top: 44%;
    padding: 4px 7px;
  }

  .room-card .room-card-img {
    width: 100%;
    height: 227px!important;
  }

  .rooms .room-card-body {
    padding: 8px 19px 24px 15px;
    height: 248px;
  }
  
  .rooms .room-card-body-top {
    padding-bottom: 14px;
  }

  .rooms .room-card-title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 5px;
  }

  .rooms .room-card-hotel-name {
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 15px;
  }

  .rooms .room-card-hotel-address {
    font-size: 10px;
    line-height: 13px;
  }

  .rooms .room-card-text-desktop {
    display: none;
  }

  .rooms .room-card-text-mobile {
    display: block;
    margin-top: 12px;
    margin-bottom: 9px;
    font-size: 12px;
    line-height: 18px;
  }

  .rooms .price-text {
    font-size: 12px;
    line-height: 15px;
  }

  .rooms .price {
    font-size: 20px;
  }

  .rooms .room-button {
    padding: 13px 17px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
  }

  .search-and-order {
    display: flex;
    max-width: 591px;
    margin: 0 auto;
    padding: 40px 15px 0px 15px;
  }

  #search-input {
    display: block;
    width: calc(100% - 153px);
  }

  .obpress-chain-results-button {
    /* float: right; */
    top: 0px;
  }
}